          <h1 class="title">
            Message de réclamation
          </h1>
          <div id="ItemMessageRecu">
              <div class="card border-dark mb-3">
                <div class="card-header-primary bg-primary text-light text-center"><h2>Etudiant ine ESTM-2021-7876878</h2></div>
                <div class="card-body text-dark">
                  <h5 class="card-title">Dark card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odio sed optio maiores sint quod nisi similique iste qui consectetur aspernatur nobis a excepturi, debitis pariatur ex. Cumque, dolores tempora!
                    Provident quo, praesentium aliquam ex nihil dolorem architecto doloribus deserunt sint perferendis distinctio numquam tempore excepturi eligendi dolorum animi maiores quia incidunt assumenda eos obcaecati ipsum. Facilis maxime fugiat adipisci.
                    Cupiditate officia ratione saepe magnam excepturi quis unde atque sit quaerat laborum? Adipisci, inventore accusantium possimus atque sequi enim eum veritatis unde distinctio labore dolorum aliquid iure aut. Nulla, minus!
                    Porro laudantium voluptatem cumque rerum laborum beatae quod est consequatur quos officia quisquam animi quidem debitis dolorum, dolores possimus quis nisi corporis, illum officiis, nam tenetur deserunt ratione quibusdam. Nesciunt.
                  </p>
                </div>
                <button class="btn btn-primary pull-right" style="width: 100px; margin-left: 20px" >
                    <a style="color: #fff">
                      repondre
                    </a>
                </button>
              </div><!-- /.card -->
          </div>
