          <h1 class="title">
            Message de réclamations
          </h1>
          <div class="col-md-4">
            <div class="card border-dark mb-3">
              <div class="card-header bg-dark text-light">Header .bg-dark .text-light</div>
              <div class="card-body text-dark">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <span class="badge badge-primary pull-right" style="width: 50px; margin-left: 20px" >
                  <a style="color: #fff" routerLink="/superviseur/item-message-recu">
                    Lire
                  </a>
              </span>
            </div><!-- /.card -->
          </div>
          <div class="col-md-4">
            <div class="card border-dark mb-3">
              <div class="card-header bg-dark text-light">Header .bg-dark .text-light</div>
              <div class="card-body text-dark">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <span class="badge badge-primary pull-right" style="width: 50px; margin-left: 20px" >
                  <a style="color: #fff">
                    Lire
                  </a>
              </span>
            </div><!-- /.card -->
          </div>
          <div class="col-md-4">
            <div class="card border-dark mb-3">
              <div class="card-header bg-dark text-light">Header .bg-dark .text-light</div>
              <div class="card-body text-dark">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <span class="badge badge-primary pull-right" style="width: 50px; margin-left: 20px" >
                  <a style="color: #fff">
                    Lire
                  </a>
              </span>
            </div><!-- /.card -->
          </div>
          <div class="col-md-4">
            <div class="card border-dark mb-3">
              <div class="card-header bg-dark text-light">Header .bg-dark .text-light</div>
              <div class="card-body text-dark">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <span class="badge badge-primary pull-right" style="width: 50px; margin-left: 20px" >
                  <a style="color: #fff">
                    Lire
                  </a>
              </span>
            </div><!-- /.card -->
          </div>
          <div class="col-md-4">
            <div class="card border-dark mb-3">
              <div class="card-header bg-dark text-light">Header .bg-dark .text-light</div>
              <div class="card-body text-dark">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <span class="badge badge-primary pull-right" style="width: 50px; margin-left: 20px" >
                  <a style="color: #fff">
                    Lire
                  </a>
              </span>
            </div><!-- /.card -->
          </div>
