      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Récapitularif</h4>
                  <p class="card-category">Vérifiez avant de soumettre</p>
                </div>

                <div class="col-md-12">
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                  <div class="col-md-4">
                      <label>Prenom</label>
                  </div>
                  <div class="col-md-8">
                      <label>Mamadou lamine</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label>Nom</label>
                  </div>
                  <div class="col-md-8">
                      <label for="">DIOP</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label>Email</label>
                  </div>
                  <div class="col-md-8">
                      <label for="">Mamadoulaminediop93@gmail.com</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label>Téléphone</label>
                  </div>
                  <div class="col-md-8">
                      <label for="">777770404</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label>Somme</label>
                  </div>
                  <div class="col-md-8">
                      <label for="">85.000</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label>Mois</label>
                  </div>
                  <div class="col-md-8">
                      <label for="">Janvier</label>
                  </div>
              </div>
            </div>
        </div>
      </div>


              </div>
            </div>
          </div>
        </div>
      </div>
