.dark-edition {
  background-color: #1a2035 !important;
}

.content {
  background-color: #1a2035 !important;
}

.wrapper {
  min-height: max-content;
}

.hm-gradient {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
.navbar .dropdown-menu a:hover {
  color: #616161 !important;
}
.darken-grey-text {
  color: #2e2e2e;
}

#list {
  background-color: #1a2035 !important;
}

#etudiant {
  background-color: #1a2035;
  min-height: 1200px;
}
