
          <h1 class="title">
            Validation des payement
          </h1>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">ine: ESTM-2021-23456</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="tab-content profile-tab" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Somme</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">85.000</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mois</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">Janvier</label>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button class="btn btn-warning">Voir</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">ine: ESTM-2021-23456</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="tab-content profile-tab" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Somme</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">85.000</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mois</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">Janvier</label>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button class="btn btn-warning">Voir</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">ine: ESTM-2021-23456</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="tab-content profile-tab" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Somme</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">85.000</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mois</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">Janvier</label>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button class="btn btn-warning">Voir</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">ine: ESTM-2021-23456</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="tab-content profile-tab" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Somme</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">85.000</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mois</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">Janvier</label>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button class="btn btn-warning">Voir</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">ine: ESTM-2021-23456</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="tab-content profile-tab" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Somme</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">85.000</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mois</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">Janvier</label>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <button class="btn btn-warning">Voir</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col md 6">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">ine: ESTM-2021-23456</h4>
                    </div>
                    <div class="col-md-12">
                      <div class="tab-content profile-tab" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Prenom</label>
                                </div>
                                <div class="col-md-8">
                                    <label>Mamadou lamine</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Nom</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">DIOP</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">rakyLay@gmail.com</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Téléphone</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">777770404</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Somme</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">85.000</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Mois</label>
                                </div>
                                <div class="col-md-8">
                                    <label for="">Janvier</label>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                            <label>Payer par</label>
                        </div>
                        <div class="col-md-8">
                          <img  src="../assets/img/orange.jpg" alt="" width="100">
                        </div>
                      </div>
                    </div>
                    <hr>
                    <button class="btn btn-success">Valider</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
