<div class="saisi">
    <form>
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Saisir le code INE</h4>
          <p class="card-category">sur la carte de l'étudiant</p>
        </div>
        <div class="card-body">
                <div class="form-group">
                  <label class="bmd-label-floating">INE</label>
                  <input type="text" class="form-control" formControlName="libelle">
                </div>
              <button type="submit" class="btn btn-primary pull-right">
              Verification
            </button>
            <div class="clearfix"></div>
        </div>
      </div>
    </form>
</div>
